@model ServicesProvider.Models.ViewModels.UsersAdViewModel
@{
    Layout = "_Layout";
}

@section Head{
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/reset.css" rel="stylesheet" media="screen" runat="server">
    <link href="~/css/headers.css" rel="stylesheet" media="screen" runat="server">
    <link href="~/css/index.css" rel="stylesheet" media="screen" runat="server">
    <link href="~/css/add.css" rel="stylesheet" media="screen" runat="server">

    <title>ADD</title>
}

<div class="main-content-con">
    <div class="section">
        <form asp-controller="Item" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="form-cont">
                <div class="form-colom">
                    <div>
                    <label class="form-label">Title: </label>
                    <input asp-for="Name" class="form-input form-item" type="text" value="">
                    </div>
                    <div>
                        <label class="form-label">Category: </label>
                        <select asp-for="CategoryId" asp-items="ViewBag.SelectList" class="form-select form-item">
                            <option selected="selected" disabled="disabled">Choose category</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label">Price: </label>
                        <input asp-for="Price" class="form-input form-item">
                    </div>
                    <div>
                        <label class="form-label">Upload file:</label>
                        <input asp-for="ImageFile" class="form-input form-item" type="file" accept="image/*">
                    </div>
                    <div class="form-button-section">
                            <button type="submit" class="form-button">ADD</button>
                    </div>
                    <div asp-validation-summary="All" class="form-validation"></div>
                </div>

                <div class="form-colom">
                    <div>
                        <label class="form-label">Short description: </label>
                        <textarea asp-for="ShortDesc" class="form-input form-item" type="text" value="" rows="5" maxlength="100">
                    </textarea>
                    </div>
                    <div>
                        <label class="form-label">Long description: </label>
                        <textarea asp-for="LongDesc" class="form-input form-item" type="text" value="" rows="14" maxlength="350" wrap="hard">
                    </textarea>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>



