@{
    Layout = "_Layout";
}
<div class="admin-views">
    <a asp-controller="Admin" asp-action="Administrator"> Administrator </a>

    <a asp-controller="Admin" asp-action="Index"> Main page </a>
</div>