@{
    Layout = "_Layout";
}
<div class="admin-views">
    <a asp-controller="Admin" asp-action="Administrator"> Administrator </a>

    <a asp-controller="Admin" asp-action="User"> User </a>
</div>

<style>
    .admin-views {
        position: ; 
    }
</style>