@model ServicesProvider.Models.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
}
@section Head {
    <title>SignUp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CHOOSE PATH TO ICON lower -->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet" />
}

<div class="form-container">
    <form class="auth-form"
          asp-controller="Enrollment"
          asp-action="Login"
          method="post">

        <span class="auth-heading">
            Login
        </span>

        <div asp-validation-summary="All" class="incorrect-data-c">
        </div>
        <input hidden asp-for="ReturnUrl" value="" class="" />

        <div class="user-name__input" data-validate="Username is required">
            <input asp-for="UserName"
                   class=""
                   type="text"
                   name="username"
                   placeholder="Username">
        </div>


        <div class="password__input" data-validate="Password is required">
            <input asp-for="Password"
                   class="" type="password"
                   name="password"
                   placeholder="Password">
        </div>

        <div class="">
            <div class="">
                <input class="" id="" type="checkbox" name="remember-me">
                <label class="" for="ckb1">
                    Remember me
                </label>
            </div>

            <div class="href__forgot-c">
                <a href="#" class="href__forgot">
                    Forgot?
                </a>
            </div>
        </div>

        <div class="auth-btn-c">
            <button type="submit" class="auth-sbmt-btn">
                Login
            </button>
        </div>

    </form>
</div>
