@model ServicesProvider.Models.ViewModels.SignUpViewModel

@{
    Layout = "_Layout";
}

@section Head {
    <title>SignUp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CHOOSE PATH TO ICON lower -->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="~/css/sign-up.css" rel="stylesheet" />
}
<div class="form-container">
    <form class="auth-form"
          asp-controller="Enrollment"
          asp-action="SignUp"
          method="post">

        <span class="auth-heading">
            Sign-up
        </span>

        <div asp-validation-summary="All" class="incorrect-data-c">

        </div>
        <input hidden asp-for="ReturnUrl" value="" class="" />

        <div class="inputs-fl-names">
            <div class="input-c" data-validate="FirstName is required">
                <input asp-for="FirstName" class="auth-inputs" type="text" name="firstName" placeholder="First name">
            </div>

            <div class="input-c" data-validate="LastName is required">
                <input asp-for="LastName" class="auth-inputs" type="text" name="lastName" placeholder="Last name">
            </div>
        </div>


        <div class="input-c" data-validate="Username is required">
            <input asp-for="UserName" class="auth-inputs" type="text" name="userName" placeholder="Username">
        </div>

        <div class="input-c" data-validate="PhoneNumber is required">
            <input asp-for="PhoneNumber" class="auth-inputs" type="tel" name="phoneNumber" placeholder="Phone number">
        </div>

        <div class="input-c" data-validate="Email is required">
            <input asp-for="Email" class="auth-inputs" type="email" name="email" placeholder="Email">
        </div>

        <div class="input-c" data-validate="Password is required">
            <input asp-for="Password" class="auth-inputs" type="password" name="password" placeholder="Password">
        </div>

        <div class="input-c" data-validate="PasswordConfirm is required">
            <input asp-for="PasswordConfirm" class="auth-inputs" type="password" name="passwordConfirm" placeholder="Confirm password">
        </div>

        <div class="auth-btn-c">
            <button type="submit" class="auth-sbmt-btn">
                Sign-up
            </button>
        </div>

    </form>
</div>