
/* header */

header {
    width: 100%;
    height: 90px;
    background-color: #14192E;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFFBF;
}

.head-con {
    width: 74%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.log-head-con {
    width: 70px;
    height: 70px;
}

    .log-head-con img {
        width: 100%;
        height: auto;
    }

.nav-link-head {
}

.nav-link-btn {
    margin-left: 30px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFFBF;
}
