  element.style {
                }

                .bg-1 {
                    background-color: antiquewhite;
                    border-bottom: 1px solid #ccc;
                    height: 80px;
                    margin-bottom: 80px !important;
                }

                .bg-1 {
                    background-color: white;
                }



                .w-100 {
                    width: 100% !important;
                }

                .sticky-top {
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    z-index: 1020;
                }

                article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
                    display: block;
                }

                *, ::after, ::before {
                    box-sizing: border-box;
                }

                header {
                    display: block;
                }

                body {
                    font-family: 'Open Sans', sans-serif;
                    color: #000;
                }

                *, ::after, ::before {
                    box-sizing: border-box;
                }

                *, ::after, ::before {
                    box-sizing: border-box;
                }

                ::-webkit-scrollbar {
                    width: 8px;
                }

                ::-webkit-scrollbar-thumb {
                    background: #18171B;
                    border-radius: 15px;
                }

                ::-webkit-scrollbar-track {
                    background: #fff;
                }

                .header {
                    position: relative;
                    color: aliceblue;
                }

                .header-link {
                    color: black;
                    border-radius: 20px;
                }
                .button-hover {
                    transition: 0.4s;
                }
                .button-hover:hover {
                    color: white;
                    transition: 0.5s;
                    background: #070f10;
                }
