<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @await RenderSectionAsync("Head", false)

    <link href="~/css/reset.css" rel="stylesheet" media="screen" runat="server">
    <link href="~/css/headers.css" rel="stylesheet" media="screen" runat="server">
    <link href="~/css/index.css" rel="stylesheet" media="screen" runat="server">

    <!-- font imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

</head>
<body> 
    <header>
        <div class="head-con">
            <div class="log-head-con">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav-link-head">
                @if (User.Identity is { IsAuthenticated: true })
                {
                    <a class="nav-link-btn" asp-controller="Item" asp-action="Add">ADD SERVICE</a>
                    <a class="nav-link-btn">PROFILE</a>
                }
                <a class="nav-link-btn">Contact us</a>
                @if (User.Identity is { IsAuthenticated: false })
                {
                    <a class="nav-link-btn" asp-controller="Enrollment" asp-action="Login">Login in</a>
                    <a class="nav-link-btn" asp-controller="Enrollment" asp-action="SignUp">SIGN UP</a>
                }
                else
                {
                    <a class="nav-link-btn" asp-controller="Home" asp-action="LogOff">SIGN OUT</a>
                }
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>