<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/headers.css" rel="stylesheet" runat="server">
    <link href="~/css/style-layout.css" rel="stylesheet" runat="server"/>
    <link href="~/css/headers.css" rel="stylesheet" runat="server">

    @await RenderSectionAsync("Head", false)
</head>
<body>
    <header class="bg-1 w-100 mb-5 sticky-top index-1030 header" role="banner">
        <div class="container-fluid pl-5 pr-4 py-3">
            <div class="row align-items-center justify-content-between font-weight-semi">
                <div class="col-6 col-sm-auto">
                    <a asp-controller="Home" asp-action="Index" title="Home">
                        <img width="130" src="https://wdny.io/wp-content/themes/wdny/images/logo_footer.svg" class="img-fluid opc-8" alt="">
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <nav class="nav font-14 pl-xl-4" role="navigation">


                        @if (User.Identity is {IsAuthenticated: true })
                        {
                            <a asp-controller="Item" asp-action="Add" class="nav-link header-link button-hover" title="">ADD SERVICE</a>
                        }
                        <a href="" class="nav-link header-link button-hover" title="">CATEGORIES</a>

                        <select class="nav-link header-link button-hover" id="DropDownList1">
                            <option value="">Programming</option>
                            <option value="">Design</option>
                        </select>
                        
                        <a href="" class="nav-link header-link button-hover" title="">CONTACT US</a>
                        @if (User.Identity is { IsAuthenticated: false })
                        {
                            <a asp-controller="Enrollment" asp-action="Login" class="nav-link header-link button-hover" title="">LOGIN IN</a>
                            <a asp-controller="Enrollment" asp-action="SignUp" class="nav-link header-link button-hover" title="">SIGN UP</a>
                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="LogOff" class="nav-link color-1 button-hover" title="">SIGN OUT</a>
                        }
                    </nav>
                </div>
                <!-- Btn Menu Mobile -->
                <div class="col-auto d-lg-none text-right">
                    <div class="btn-group">
                        <button type="button" class="bg-transparent p-0 menu-open border-0" title="Open menu">
                            <i class="fas fa-bars font-22 color-2" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <style>

              
            </style>
           

        </div>

    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
